*{
  margin: 0;
  padding: 0;
}
/* 헤더섹션 총 영역 크기*/

/* 헤더 최상단 광고 영역 크기 */
.div-Headerbanner{
  background-color: rgb(255, 212, 0);
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 헤더 최상단 광고 이미지 사이즈 */
.img-headerbanner{
  width: 1168px;
  height: 48px;
}
/* 헤더 중간 검색창 영역 크기 */
.div-Header{
  background-color: white;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 30;
}

.div-Headerspace{
  background-color: white;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-headersize{
  background-color: white;
  width: 1168px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.div-logo{
  height: 100%;
}

.img-logo{
  width: 86px;
  height: 100%;
}

.search-header{
  border-radius: 30px;
  width: 550px;
  height: 40px;
  font-size: 16px;
}

.search-header:hover{
  background-color: rgba(225, 222, 222, 0.918);
}

.img-marginglass{
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  position: relative;
  left: -80px;
}

.button-header{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.button-header{
  background-color: white;
  width: 80px;
  height: 40px;
  border: none;
}

.button-reg{
  background-color: rgb(255, 212, 0);
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 10px;
}

a{
  border: 0px;
  color: black;
  text-decoration: none;
}

button:hover{
  cursor: pointer;
}

.div-bar{
  margin: 0px 30px;
  color: grey;
  user-select: none;
}

.div-HeaderCategory{
  background-color: white;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
}

.div-headercategorysize{
  background-color: white;
  width: 1168px;
  height: 40px;
  display: flex;
  align-items: center;  
}

.div-categorymenu{
  display: flex;
  align-items: end;
}

.div-categorymenu ul{
  display: flex;
  font-size: 16px;
  gap: 20px;
}

.div-headermenuunderbarY{
  width: auto;
  height: 4px;
  position: relative;
  top: 8px;
}

li:hover .div-headermenuunderbarY{
  background-color: rgb(255, 212, 0);
}

ul li{
  list-style-type: none;
}

.div-dropdown{
  position: relative;
}

.div-dropdownmenu{
  cursor: pointer;
  width: 110px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.div-dropdowncontent{
  width: 200px;
  height: 380px;
  display: none;
  position: absolute;
  background-color: rgb(252, 249, 249);
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  top: 47px;
}

.div-dropdowncontent a{
  color: black;
  text-decoration: none;
  display: block;
}

.div-dropdown:hover .div-dropdowncontent{
  display: block;
}

.div-dropdownbox{
  width: auto;
  height: auto;
}

.div-dropdownmenutitle{
  font-size: 14px;
  font-weight: bold;
}

.div-dropdownsub{
  font-size: 14px;
  color: gray;
}
/* 헤더 종료 */

/* 메인 시작 */
main{
  border-bottom: 1px solid grey;
}

/* 메인 광고 이미지 배너 */
.div-mainbanner{
  background-color:white ;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.div-mainbannerimg{
  width: 700px;
  height: 280px;
  border-radius: 20px;
}

/* 메인-카테고리섹션 */
.div-maincategory{
  width: 100%;
  height: 395px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-maincategorysize{
  width: 1168px;
  height: 395px;
  display: block;
}

.div-maincategorytitle{
  width: 100%;
  height: 60px;
  font-size: 20px;
  align-content: center;
  font-weight: bold;
}

.div-maincategorylogosize{
  width: 100%px;
  height: 335px;
} 

.div-mainbusinessnav{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.div-mainbusinessnavlogo{
  display: block;
  text-align: center;
  font-size: 15px;
}

.div-njobbox{
  width: 450px;
  height: 160px;
  display: flex;
  flex-direction: column; 
}

.div-njobboxtitle{
  width: 200px;
  height: 30px;
}

.div-njoblogosize{
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.div-njoblogo{
  display: flex;
  text-align: center;
  justify-content: center;
}

.div-cateundeersize{
  width: 1168px;
  height: 160px;
  display: flex;
}

.div-hobbybox{
  width: 500px;
  height: 160px;
  display: flex;
  flex-direction: column; 
}

.div-prizebox{
  width: 150px;
  height: 160px;
}

.div-prizeboxtitle{
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
}


/* 메인 섹션 인기서비스 배너 */
.div-mainmarket{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-mainmarketsize{
  width: 1168px;
  height: 100%;
}

.div-markettitle{
  width: 1168px;
  height: 60px;
  align-content: center;
}

.div-marketbutton{  
  width: 1168px;
  height: 60px;
  align-content: center;
}

.div-marketbutton button{
  margin: 3px;
  padding: 0px 7px;
  background-color: white;
  width: auto;
  height: 36px;
  border: 1px solid grey;
  border-radius: 20px;
}

.div-makretbuttonfirst{
  margin: 3px;
  padding: 0px 7px;
  background-color:black !important; 
  color: white;
  width: auto;
  height: 36px;
  border: 1px solid grey;
  border-radius: 20px;
  font-weight: bold;
}

.div-marketinfosize{
  width: 1168px;
  height: 270px;
  display: flex;
  gap: 10px;
}

.div-marketinfo{
  width: 220px;
  height: 270px;
  user-select: none;
}

.div-marketimgsize{
  width: 220px;
  height: 158px;
  border-radius: 10px;
}

.p-marketinfotext{
  font-size: 13px;
  font-weight: bold;
}

.p-marketstar{
  font-size: 13px;
  font-weight: bold;
}

.p-marketstar span{
  font-size: 13px;
  color: gray;
  font-weight: 400;
}

.p-marketsubtitle{
  font-size: 12px;
  color: gray;
}


/* 메인 광고영상배너 */
.div-mainvideo{
  background-color: rgb(242, 243, 247);
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.div-mainvideosize{
  width: 1168px;
  height: 500px;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 100px;
}

.div-mainvideoinfosize{
  width: 1168px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.div-mainvideobox{
  background-color: white;
  border-radius: 10px;
  width: 300px;
  height: 150px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-mainvideoboxtext{
  width: 250px;
}

.div-mainvideoboximg{
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.div-reviewvediosize{
  width: 376px;
  height: auto;
  text-align: left;
}

.span-reviewviedofirst{
  font-weight: bold;
}

.span-reviewviedosecond{
  color: grey;
}

/* 메인 회원가입 광고 배너*/
.div-mainregibanner{
  background-color: rgb(48, 52, 64);
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
}

.div-mainregibannersize{
  width: 1168px;
  height: 160px;
}

/* 메인 영상후기 광고 배너 */
.div-mainreviewvideo{
  background-color: rgb(255, 212, 0);
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
}

.div-mainreviewvideosize{
  background-color: rgb(255, 212, 0);
  width: 1168px;
  height: 100%;
  text-align: center;
  align-content: center;
}

.div-reviewvideotitle{
  width: 100%;
  height: 70px;
  font-size: 32px;
  font-weight: 700px;
}

.div-reviewvideosubtitle{
  font-size: 16px;
  width: 100%;
  height: 40px;
  font-weight: bold;
  color: black;
}

.div-reviewvedio{
  height: 280px;
  display: flex;
  align-items: center;
  gap: 20px;
}

iframe{
  border: 0px;
  border-radius: 10px;
}

/* 메인 아티클 */
.div-mainarticle{
  background-color: rgb(242, 243, 247);
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-mainarticlesize{
  width: 1168px;
  height: 550px;
}

.div-mainarticletitle{
  width: 100%;
  height: 70px;
  text-align: center;
  align-content: center;
}

.div-mainarticlesubtitle{
  width: 100%;
  height: 30px;
  text-align: center;
  align-content: center;
}

.div-mainarticleimg{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.div-articlbuttonsize{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-articlebutton{
  background-color: white;
  width: 376px;
  height: 52px;
  border-color: gainsboro;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border: 1px solid gray;
  align-content: center;
}

.div-articleimg{
  border-radius: 10px;
}

/* 메인 후기 순위 */
.div-mainrank{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
}

.div-mainranksize{
  width: 1168px;
  height: 700px;
}

.div-mainranktitlesize{
  width: 100%;
  height: 100px;
  align-content: center;
}

.p-mainranktitle{
  font-size: 22px;
  font-weight: bold;
}

.p-mainranksubtitle{
  font-size: 18px;
  color: gray;
}

.div-rankboxsize{
  width: 1168px;
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.div-rankbox{
  width: 380px;
  height: 600px;
}

.div-rankboxfirst{
  background-color: rgb(255, 212, 0);
  width: 380px;
  height: 140px;
  border-radius: 10px;
  border: 1px solid yellow;
}

.div-rankboxtitle{
  width: auto;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  align-content: center;
}

.div-rankboxinfo{
  background-color: white;
  width: 380px;
  height: 90px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.span-rankboxinfotitle{
  font-size: 22px;
  font-weight: bold;
}

.span-rankboxinfosub{
  font-size: 16px;
  color: gray;
  font-weight: normal;
}

.div-rankimg{
  width: auto;
  height: auto;
  border-radius: 100%;
  border: 1px solid gainsboro;
  width: 48px;
  height: 48px;
}

.div-mainrankelseapace{
  width: auto;
  height: 10px;
}

.div-mainrankelsebox{
  background-color: rgb(247, 247, 247);
  width: auto;
  height: 430px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.div-rank2box{
  width: 370px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-bottom: 1px solid gray;
}

.span-rank2boxinfotitle{
  font-size: 20px;
  font-weight: bold;
}

.span-rank2boxinfosub{
  font-size: 12px;
  color: gray;
  font-weight: normal;
}

.div-rank5box{
  width: 370px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}




/* 메인종료 */
/* 푸터시작 */

.div-footermenu{
  border-bottom: 1px solid grey;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.div-footermenusize{
  width: 1168px;
  height: 100%;
}

.div-footermenucategory{
  width: 100%;
  height: 200px;
  display: flex;
}

.div-footermenutime{
  width: 320px;
  height: 100%;
}

.div-footersapce{
  width: 1168px;
  height: 25px;
}

.div-footermenutimeinfo{
  font-size: 14px;
  color: black;
}

.div-footerask{
  background-color: rgb(240, 247, 248);
  color: blue;
  width: 280px;
  height: 60px;
  font-size: 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.div-footermenutimebutton{
  background-color: white;
  width: 146px;
  height: 36px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.div-footermenubutton{
  width: 1168px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}

.div-footerappbutton{
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 180px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.div-footercategorylist{
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
}

/* 최하단 푸터 기업정보 */
.div-footerinfo{
  background-color: white;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}

.div-footernavtitle{
  color: black;
  font-weight: bold;
}

.div-footernavlist{
  color: gray;
}

.div-footerinfosize{
  background-color: white;
  width: 1168px;
  height: 100%;
  display: block;
  text-align: center;
  align-content: center;
}

.div-footerinfoaddress{
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 13px;
  font-weight: bold;
}

.div-footerbutton{
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 5px;
  font-weight: bold;
  font-size: 10px;
}

.div-footerwarnning{
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 10px;
}

.div-footerlast{
  justify-content: center;
  font-size: 12px;
  color: grey;
}